---
---
<aside class="w-64 bg-gray-100 h-full fixed">
    <nav class="p-4">
      <ul class="space-y-4">
        <div>
            <li class="m-4">Provi<span>Soft</span></li>
        </div>
        
        <li><a href="/" class="block px-4 py-2 text-gray-700 hover:bg-gray-200 rounded">Inicio</a></li>
        <li><a href="/Proveedores" class="block px-4 py-2 text-gray-700 hover:bg-gray-200 rounded">Proveedores</a></li>
        <li><a href="/Compras" class="block px-4 py-2 text-gray-700 hover:bg-gray-200 rounded">Compras</a></li>
        <li><a href="/Articulos" class="block px-4 py-2 text-gray-700 hover:bg-gray-200 rounded">Artículos</a></li>
        <li><a href="/CerrarSesion" class="block px-4 py-2 text-gray-700 hover:bg-gray-200 rounded">Cerrar Sesión</a></li>
      </ul>
    </nav>
  </aside>
  