<div >
    <p class="font-display text-3xl font-bold text-blue-baby4 text-center p-5 ">Bienvenido al menú de compras</p>

    <span class="flex flex-row justify-around mt-14">
        <a href="/tCompras">
            <button class="bg-blue-baby w-72 h-72"> Ver tus compras</button>
        </a>
        <a href="/comprasDos">
            <button class="bg-blue-baby w-72 h-72">Registrar compras</button>
        </a>
    </span>
</div>
