<h1 class="font-bold text-3xl text-center mb-4">Registro de compras</h1>
<div class="bg-grisesito  h-auto p-2 w-full rounded-md">
  <div class= " flex flex-row justify-around  ">
    <span class="flex flex-col text-grisfont">
      <div class="font-bold">Fecha:</div>
      <span id="fecha"></span>
    </span>
    <span class="flex flex-col text-grisfont">
      <div class="text-grisfont font-bold">Hora:</div>
      <span id="hora"></span>
    </span>
    <span class="flex flex-col">
      <div class="text-grisfont font-bold">Proveedor:</div>
      <span class="text-grisfont" id="nombreP"></span>
    </span>
    <span class="flex flex-col">
      <div class="text-grisfont font-bold">Encargado de la venta:</div>
      <span class="text-grisfont" id="encargado_venta"></span>
    </span>
  </div>
  <div class="flex flex-row justify-around ">
    <span class="flex flex-col">
      <div class="text-grisfont font-bold">Encargado del registro:</div>
      <span class="text-grisfont" id="encargadoUser"></span>
    </span>
    <span>
      <div class="text-grisfont font-bold">Valor iva:</div>
      <span class="text-grisfont" id="valorIva"></span>
    </span>
    <span>
      <div class="text-grisfont font-bold">Valor descuento:</div>
      <span class="text-grisfont" id="valorDiscount"></span>
    </span>
    <span>
      <div class="text-grisfont font-bold">Valor total:</div>
      <span class="text-grisfont" id="totalValor"></span>
    </span>
  </div>
</div>

<div class="flex flex-row">
  <div class="flex flex-col justify-around p-1">
    <div class="flex flex-col border-black border-2 rounded-md h-auto p-2 w-auto m-2">
      <h1 class="text-2xl font-bold p-2 text-center">Información de la compra</h1>
      <div class="justify-between sm:flex sm:flex-row flex flex-row">
        <div class="flex flex-col p-2">
          <h3>Código de la compra</h3>
          <input id="codigo-compra" class="bg-grisinpu rounded-md border-none w-70" type="text" placeholder="0000"/>
          <span id="error-codigo-compra" class="text-red-500 text-sm hidden"></span>
        </div>
        <div class="flex flex-col p-2">
          <h3>Precio bruto</h3>
          <input id="precio-bruto" class="bg-grisinpu rounded-md border-none w-70" type="text" placeholder="$000000000"/>
          <span id="error-precio-bruto" class="text-red-500 text-sm hidden"></span>
        </div>
        <div class="flex flex-col p-2">
          <h3>Proveedor</h3>
          <select id="proveedor" class="bg-grisinpu rounded-md border-none w-50 flex flex-col ">
            <option value="">Seleccione un proveedor</option>
          </select>
          <span id="error-proveedor" class="text-red-500 text-sm hidden"></span>
        </div>
      </div>
      <div class="flex flex-row">
        <div class="flex flex-col p-2">
          <h3 class="flex ml-11">IVA</h3>
          <div class="flex flex-row">
            <input class="me-2 mt-[0.3rem] h-3.5 w-8 appearance-none rounded-[0.4375rem] bg-black/25" type="checkbox" id="iva"/>
            <input id="iva-valor" class="bg-grisinpu rounded-md border-none w-40" type="text"/>
          </div>
          <span id="error-iva-valor" class="text-red-500 text-sm hidden"></span>
        </div>
        <div class="flex flex-col p-2">
          <h3 class="flex ml-11">Descuento</h3>
          <div class="flex flex-row">
            <input class="me-2 mt-[0.3rem] h-3.5 w-8 appearance-none rounded-[0.4375rem] bg-black/25" type="checkbox" id="descuento"/>
            <input id="descuento-valor" class="bg-grisinpu rounded-md border-none w-40" type="text"/>
          </div>
          <span id="error-descuento-valor" class="text-red-500 text-sm hidden"></span>
        </div>
      </div>
    </div>
    <div class="flex flex-row border-black border-2 rounded-md h-auto p-2 w-auto m-2">
      <div class="flex items-center flex-col p-2">
        <span>Movimiento</span>
        <select  class="bg-grisinpu rounded-md border-none w-50 flex flex-col "name="Movimiento" id="tipo">
          <option value="Debito">Debito</option>
          <option value="Credito">Credito</option>
        </select>
      </div>
      <div class="flex flex-col p-2">
        <h3>Valor</h3>
        <input id="valor-cuenta" class="bg-grisinpu rounded-md border-none w-70" type="text" placeholder="$000000000"/>
        <span id="error-valor" class="text-red-500 text-sm hidden"></span>
      </div>

      <div id="campos-cuentas">
        <h3>Código de cuenta</h3>
        <div class="flex flex-col p-2">
          <span class="flex flex-row">
            <select id="cuentas" aria-placeholder="Cuenta" class="bg-grisinpu border-none rounded-md w-40"/>
                <option value="">
                  cuentas
                </option>
            </select>
            <button id="addCampo">
              <img class="p-2" src="../../../../public/img/white/iconMore.svg" alt=""/>
            </button>
          </span>
          <span id="error-codigo-cuenta" class="text-red-500 text-sm hidden"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col border-black border-2 rounded-md h-auto w-5/11 m-2 p-2">
    <h1 class="text-center font-bold text-2xl">pre-registro</h1>
    <div class="flex flex-row p-2 justify-around">
      <span class="" id="">Tipo</span>
      <span>|</span>
      <span class="" id="cuentas">Codigo</span>
      <span>|</span>
      <span class="" id="valor-cuenta-mov">valor</span>
    </div>
    <div id="lista-movimientos"></div>
  </div>
</div>
<div class="flex justify-end space-x-5">
  <button class="bg-black text-white rounded-md p-2 w-40">Cancelar</button>
  <button id="registrar" class="bg-blue-baby4 text-white rounded-md p-2 w-52">Registrar</button>
</div>

<script>
  import { validatePurchaseForm, desplegable, setupInputListeners, addNewField, desplegableCuentas, agregarMovimiento,mostrarMovimientos } from "../../../js/purchaseForm.js";
  import { updateClock } from "../../../js/formatoFH.js";

  document.addEventListener("DOMContentLoaded", () => {
    updateClock();
    desplegable();
    setupInputListeners();
    desplegableCuentas();
    agregarMovimiento();
    mostrarMovimientos();
  
  });

  document.getElementById('registrar').addEventListener('click', () => {
    validatePurchaseForm();
  });

  document.getElementById('addCampo').addEventListener('click', () => {
    addNewField();
  });
</script>
