<div >
    <p class="font-display text-3xl font-bold text-blue-baby4 text-center p-5 ">Bienvenido al menú de proveedores</p>

    <span class="flex flex-row justify-around mt-14">
        <a href="/tProviders">
            <button class="bg-blue-baby w-72 h-72"> Ver tus proveedores</button>
        </a>
        <a href="/rProviders">
            <button class="bg-blue-baby w-72 h-72">Registrar proveedores</button>
        </a>
    </span>
</div>
