<body class="bg-gray-100 p-8">
  
  <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <span class="flex flex-row ">
      <div class="mt-4 p-2">
        <button
          type="button"
          id="volver"
          class="bg-blue-baby4  text-white p-2 rounded hover:bg-blue-baby3"
          onclick="window.history.back()">Volver</button>
      </div>
    </span>
    <h1 class="text-3xl font-display text-blue-baby4 text-center font-bold mb-6 p-5">
      Registro de Proveedores
    </h1>
    <div class="bg-gray-200 rounded-sm flex flex-row justify-around p-5">
      <span class="flex flex-row">
        <p class="m-1">Encargado del registro:</p>
        <p class="m-1" id="user_names"></p>
      </span>
      <span class="flex flex-row">
        <p class="m-1">Hora:</p>
        <p class="m-1" id="hora"></p>
      </span>
      <span class="flex flex-row">
        <p class="m-1">Fecha:</p>
        <p class="m-1" id="fecha"></p>
      </span>
    </div>
    
    <form id="formProviders" class="mt-5">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="nombre" class="block mb-2">Nombres y apellidos:</label>
          <input id="nombre" class="w-full p-2 border rounded" type="text" placeholder="Nombres y apellidos" />
          <span id="error-nombre" class="text-red-500 text-sm hidden"></span>
        </div>
        <div>
          <label for="tipo-documento" class="block mb-2">Tipo de documento:</label>
          <select id="tipo-documento" class="w-full p-2 border rounded">
            <option value="">Tipo documento</option>
            <option value="1">Cédula</option>
            <option value="2">NIT</option>
          </select>
          <span id="error-tipo-documento" class="text-red-500 text-sm hidden"></span>
        </div>
        <div>
          <label for="numero-documento" class="block mb-2">Número de documento:</label>
          <input id="numero-documento" class="w-full p-2 border rounded" type="text" placeholder="000000000" />
          <span id="error-numero-documento" class="text-red-500 text-sm hidden"></span>
        </div>
        <div>
          <label for="numero-telefono" class="block mb-2">Número de teléfono:</label>
          <input id="numero-telefono" class="w-full p-2 border rounded" type="text" placeholder="0000000000" />
          <span id="error-numero-telefono" class="text-red-500 text-sm hidden"></span>
        </div>
        <div>
          <label for="correo-electronico" class="block mb-2">Correo electrónico:</label>
          <input id="correo-electronico" class="w-full p-2 border rounded" type="text" placeholder="correo@correo.com" />
          <span id="error-correo-electronico" class="text-red-500 text-sm hidden"></span>
        </div>
        <div>
          <label for="direccion" class="block mb-2">Dirección:</label>
          <input id="direccion" class="w-full p-2 border rounded" type="text" placeholder="Cra #" />
          <span id="error-direccion" class="text-red-500 text-sm hidden"></span>
        </div>
        <div>
          <label for="encargado" class="block mb-2">Encargado:</label>
          <input id="encargado" class="w-full p-2 border rounded" type="text" placeholder="Nombre" />
          <span id="error-encargado" class="text-red-500 text-sm hidden"></span>
        </div>
      </div>
    </form>
    
    <div class="flex justify-end space-x-5 mt-6">
      <button type="button" id="cancelar" class="bg-black text-white rounded p-2 px-4">Cancelar</button>
      <button type="button" id="submit" class="bg-blue-baby4 text-white rounded p-2 px-4">Registrar</button>
    </div>
  </div>

  <div id="modal-successx" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-end p-5 justify-end hidden">
    <div class="bg-white rounded-md shadow-lg flex flex-row w-96 p-2">
      <svg
      class="w-6 h-auto p-1"
       width="1536" height="1536" viewBox="0 0 1536 1536" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1284 606C1284 587.333 1278 572 1266 560L1175 470C1162.33 457.333 1147.33 451 1130 451C1112.67 451 1097.67 457.333 1085 470L677 877L451 651C438.333 638.333 423.333 632 406 632C388.667 632 373.667 638.333 361 651L270 741C258 753 252 768.333 252 787C252 805 258 820 270 832L632 1194C644.667 1206.67 659.667 1213 677 1213C695 1213 710.333 1206.67 723 1194L1266 651C1278 639 1284 624 1284 606ZM1536 768C1536 907.333 1501.67 1035.83 1433 1153.5C1364.33 1271.17 1271.17 1364.33 1153.5 1433C1035.83 1501.67 907.333 1536 768 1536C628.667 1536 500.167 1501.67 382.5 1433C264.833 1364.33 171.667 1271.17 103 1153.5C34.3333 1035.83 0 907.333 0 768C0 628.667 34.3333 500.167 103 382.5C171.667 264.833 264.833 171.667 382.5 103C500.167 34.3333 628.667 0 768 0C907.333 0 1035.83 34.3333 1153.5 103C1271.17 171.667 1364.33 264.833 1433 382.5C1501.67 500.167 1536 628.667 1536 768Z" fill="#04CC00"/>
      </svg>
            <p class="text-green-600 p-2">Registro exitoso</p>
    </div>
  </div>

  <div id="modal-errorx" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-end p-5 justify-end hidden">
    <div class="bg-white rounded-md shadow-lg flex flex-row w-96 p-2">
      <svg
      class="w-6 h-auto p-1"
       width="1536" height="1536" viewBox="0 0 1536 1536" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_880_531)">
      <path d="M768 0C616.104 0 467.619 45.0424 341.322 129.431C215.025 213.82 116.589 333.765 58.4609 474.099C0.332764 614.433 -14.8762 768.852 14.7572 917.829C44.3907 1066.81 117.536 1203.65 224.942 1311.06C332.349 1418.46 469.194 1491.61 618.171 1521.24C767.148 1550.88 921.568 1535.67 1061.9 1477.54C1202.23 1419.41 1322.18 1320.97 1406.57 1194.68C1490.96 1068.38 1536 919.896 1536 768C1535.78 564.381 1454.8 369.165 1310.82 225.185C1166.83 81.205 971.619 0.220229 768 0ZM1039.49 949.056C1051.49 961.058 1058.23 977.334 1058.23 994.304C1058.23 1011.27 1051.49 1027.55 1039.49 1039.55C1027.28 1051.16 1011.08 1057.63 994.24 1057.63C977.397 1057.63 961.198 1051.16 948.992 1039.55L768 858.496L587.008 1039.55C574.925 1051.4 558.68 1058.03 541.76 1058.03C524.841 1058.03 508.595 1051.4 496.512 1039.55C484.514 1027.55 477.774 1011.27 477.774 994.304C477.774 977.334 484.514 961.058 496.512 949.056L677.504 768L496.512 586.944C490.4 581.04 485.524 573.978 482.17 566.17C478.816 558.362 477.05 549.964 476.976 541.466C476.902 532.968 478.522 524.54 481.74 516.675C484.958 508.81 489.71 501.664 495.719 495.655C501.728 489.646 508.874 484.893 516.739 481.675C524.605 478.457 533.032 476.838 541.53 476.912C550.028 476.986 558.426 478.751 566.234 482.105C574.043 485.46 581.105 490.335 587.008 496.448L768 677.504L948.992 496.448C954.896 490.335 961.958 485.46 969.766 482.105C977.575 478.751 985.973 476.986 994.471 476.912C1002.97 476.838 1011.4 478.457 1019.26 481.675C1027.13 484.893 1034.27 489.646 1040.28 495.655C1046.29 501.664 1051.04 508.81 1054.26 516.675C1057.48 524.54 1059.1 532.968 1059.02 541.466C1058.95 549.964 1057.18 558.362 1053.83 566.17C1050.48 573.978 1045.6 581.04 1039.49 586.944L858.496 768L1039.49 949.056Z" fill="#C70000"/>
      </g>
      <defs>
      <clipPath id="clip0_880_531">
      <rect width="1536" height="1536" fill="white"/>
      </clipPath>
      </defs>
      </svg>
            <p class="text-rojing p-2">Error en el registro</p>
    </div>
  </div>
</body>
<script src="../../../js/ValidacionUsuario"></script>
<script>
  import { updateClock } from "../../../js/formatoFH.js";
  import { validateForm, submitForm } from "../../../js/providersForm";

  document.addEventListener("DOMContentLoaded", () => {
    updateClock();
  });

  document.getElementById("submit").addEventListener("click", () => {
    validateForm();
  });

  document.getElementById("submit").addEventListener("click", () => {
    submitForm();
  });
</script>
