<body >
<span class="flex flex-col">
    <span class="">
        <h1 class="text-3xl font-bold font-display text-blue-baby4 text-center p-10">
          Desarrolladores
        </h1>
      </div>
      <div class="flex flex-row bg-grisesito rounded-md ">
        <div class="flex flex-col h-auto w-72 p-5" id="ingrid">
            <img class="rounded-full" src="../../public/img/IngridProvi1.jpg" alt="">
            <p class="font-bold">Ingrid Julieth Arce Castro</p>
            <p>Desarrolladora FullStack</p>
            <a href="https://github.com/ingrid-arce" class="flex flex-row items-center mt-5">
                <img class="w-5 h-auto mr-2" src="../../public/img/github.png" alt="">
                <p class="font-bold">GitHub</p>
            </a>
            
        </div>
        <div class="flex flex-col h-auto w-72 p-5" id="laura">
            <img class="rounded-full" src="../../public/img/LauraProvi1.jpg" alt="">
            <p class="font-bold">Laura Camila Vega Soler</p>
            <p>Desarrolladora FullStack</p>
            <a href="https://github.com/lauris-camila" class="flex flex-row items-center mt-5">
                <img class="w-5 h-auto mr-2" src="../../public/img/github.png" alt="">
                <p class="font-bold">GitHub</p>
            </a>

        </div>
        <div class="flex flex-col h-auto w-72 p-5" id="luis">
            <img class="rounded-full" src="../../public/img/LuisProvi1.jpg " alt="">
            <p class=" font-bold">Luis Miguel Ibarguen David</p>
            <p>Desarrollador FullStack</p>
            <a href="https://github.com/LuisIbarguen" class="flex flex-row items-center mt-5">
                <img class="w-5 h-auto mr-2" src="../../public/img/github.png" alt="">
                <p class="font-bold">GitHub</p>
            </a>

        </div>
    </span>
</span>
</body>
