<div class="flex justify-end">
    <div class="relative border-2 border-black bg-white rounded-md p-2 w-full">
      
      <div class="text-3xl flex justify-center mt-5 font-display text-blue-baby4">¡Bienvenido Usuario!</div>
      <div class="ml-20 mr-20 font-display">
        <div class="p-2">
          <div class="mb-3 text-blue-baby4 font-bold">Nombres</div>
          <div class="flex flex-row">
            <input
            class="h-10 rounded-md border-black w-full  placeholder:text-blue-baby"
            type="text"
              placeholder="Nombres" 
            />
          </div>
        </div>
        <div class="p-2">
          <div class="mb-3 text-blue-baby4 font-bold">Apellidos</div>
          <div class="flex flex-row">
            <input
            class="h-10 rounded-md border-black w-full placeholder:text-blue-baby"
            type="text"
              placeholder="Apellidos"
            />      
          </div>
        </div>
        <div class="p-2">
          <div class="mb-3 text-blue-baby4  font-bold">Correo</div>
          <div class="flex flex-row">
            <input
              class="h-10 rounded-md border-black w-full placeholder:text-blue-baby"
              type="text"
              placeholder="Correo"
            />       
          </div>
        </div>
       
        <div class="flex justify-center mt-8 mb-8">
        <button class="bg-blue-baby4 text-white w-80 rounded-md h-10 hover:bg-blue-baby3">Guardar cambios</button>
      </div>
      </div>
    </div>
    
  </div>
  