<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap">

<header class="flex items-center p-4 bg-blue-baby4 shadow w-full md:items-end md:justify-end h-50">
  <div class="md:flex md:flex-row p-2">
    <div id="openModalButton" class="flex flex-col text-sm p-2">
      <span id="user_name" class="text-white font-bold font-display"></span>
    </div>
  </div>
</header>

<div class="relative">
  <!-- Modal -->
  <div id="modal" class="flex justify-end fixed inset-0 hidden bg-black bg-opacity-25 z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg relative w-52 h-40 mt-24 max-w-lg flex flex-col items-center">
      <!-- Contenido del modal -->
      <span id="modal_user_name" class="text-blue-baby4 text-center flex justify-center font-display font-bold flex-col mb-5"></span>
      <a class="flex flex-row hover:bg-blue-baby3 rounded-md" href="/perfilUsuario">
        <svg class="w-6 h-auto p-1" width="19" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 15L5.54342 13.9473L13.9162 6.07569L10.4925 2.85687L2.12 10.7285L1 15Z" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M13.9803 1.37146L15.4959 2.79636C15.6212 2.91414 15.7206 3.05397 15.7885 3.20787C15.8563 3.36177 15.8912 3.52673 15.8912 3.69331C15.8912 3.8599 15.8563 4.02486 15.7885 4.17876C15.7206 4.33266 15.6212 4.47249 15.4959 4.59027L13.9159 6.0757L10.4922 2.85688L12.0725 1.37146C12.3255 1.13362 12.6686 1 13.0264 1C13.3842 1 13.7273 1.13362 13.9803 1.37146Z" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M2.12012 10.7285L5.54354 13.9473" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1.03613 15H15.9998" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
                  <button class=" hover:text-white  p-2 ">Editar Perfil</button>
      </a>
      <button id="logoutButton" class=" hover:bg-blue-baby3 hover:text-white rounded-md flex flex-row text-center "> 
        <svg class="w-6 h-auto p-1" width="19" width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.512825 19.7834L8.67275 22.9476C9.18315 23.1473 9.76474 22.7503 9.75994 22.1954V19.8365H15.1327C15.3449 19.8365 15.5483 19.7517 15.6984 19.6006C15.8484 19.4496 15.9327 19.2448 15.9327 19.0312V12.9934C15.9327 12.7798 15.8484 12.575 15.6984 12.424C15.5483 12.2729 15.3449 12.1881 15.1327 12.1881C14.9205 12.1881 14.717 12.2729 14.567 12.424C14.417 12.575 14.3327 12.7798 14.3327 12.9934V18.2258H9.75994V3.97025C9.76005 3.80738 9.7111 3.6483 9.61955 3.514C9.528 3.37971 9.39815 3.27652 9.24715 3.21805L5.10318 1.61137H14.3327V6.84375C14.3327 7.05734 14.417 7.26219 14.567 7.41322C14.717 7.56425 14.9205 7.6491 15.1327 7.6491C15.3449 7.6491 15.5483 7.56425 15.6984 7.41322C15.8484 7.26219 15.9327 7.05734 15.9327 6.84375V0.806823C15.9327 0.59323 15.8484 0.388386 15.6984 0.237353C15.5483 0.0863196 15.3449 0.00147018 15.1327 0.00147018H0.800023C0.391227 -0.0283279 -0.00396986 0.40012 3.01085e-05 0.806823V19.032C3.01085e-05 19.3654 0.203228 19.6634 0.512825 19.7834ZM8.15996 21.022L1.60002 18.4787V1.98022L8.15996 4.52353V21.022Z" fill="black"/>
          <path d="M19.3175 13.8278C19.3917 13.9026 19.4799 13.962 19.5769 14.0025C19.674 14.043 19.778 14.0639 19.8831 14.0639C19.9881 14.0639 20.0922 14.043 20.1892 14.0025C20.2863 13.962 20.3744 13.9026 20.4487 13.8278L23.7654 10.4888C23.8398 10.414 23.8988 10.3252 23.9391 10.2274C23.9793 10.1296 24 10.0248 24 9.91898C24 9.81315 23.9793 9.70835 23.9391 9.61058C23.8988 9.51281 23.8398 9.42399 23.7654 9.34919L20.4487 6.0102C20.3744 5.93543 20.2862 5.87611 20.1892 5.83565C20.0921 5.79518 19.9881 5.77435 19.8831 5.77435C19.778 5.77435 19.674 5.79518 19.577 5.83565C19.4799 5.87611 19.3917 5.93543 19.3175 6.0102C19.2432 6.08497 19.1843 6.17374 19.1441 6.27144C19.1039 6.36913 19.0832 6.47384 19.0832 6.57958C19.0832 6.68533 19.1039 6.79004 19.1441 6.88773C19.1843 6.98543 19.2432 7.0742 19.3175 7.14897L21.2686 9.11242H11.7255C11.5134 9.11242 11.3099 9.19727 11.1598 9.3483C11.0098 9.49934 10.9255 9.70418 10.9255 9.91777C10.9255 10.1314 11.0098 10.3362 11.1598 10.4872C11.3099 10.6383 11.5134 10.7231 11.7255 10.7231H21.2686L19.3175 12.6874C19.2431 12.7622 19.184 12.8511 19.1438 12.949C19.1035 13.0468 19.0828 13.1517 19.0828 13.2576C19.0828 13.3635 19.1035 13.4683 19.1438 13.5662C19.184 13.664 19.2431 13.7529 19.3175 13.8278Z" fill="black"/>
          </svg>        Cerrar Sesión
      </button>
      <button id="closeModalButton" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">&times;</button>
    </div>
  </div>
</div>

<div
  id="modal-success"
  class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-end p-5 justify-end hidden"
>
  <div class="bg-white rounded-md shadow-lg flex flex-row w-96 p-2">
    <img class="w-9 h-auto p-2" src="../../../../public/img/Check.svg" alt="" />
    <p class="text-green-600 p-2">Cerrando sesion</p>
  </div>
</div>

<div
  id="modal-error"
  class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-end p-5 justify-end hidden"
>
  <div class="bg-white rounded-md shadow-lg flex flex-row w-96 p-2">
    <img class="w-9 h-auto p-2" src="../../../../public/img/Error.svg" alt="" />
    <p class="text-rojing p-2">Error al cerrar sesion</p>
  </div>
</div>
<!-- Enlace al archivo JavaScript externo -->
<script src="../../js/header"></script>
<script src="../../js/ValidacionUsuario"></script>
<script>
  import { LogOut,  } from "../../js/header.js";
  document.getElementById("logoutButton").addEventListener("click", LogOut);
</script>
