---

---

<header class="flex items-center justify-between p-4 bg-gray-100 shadow">
  <div class=" flex flex-row">
    <img class="m-1"  src="../../../public/img/bacl/menu.svg" alt="" />
    <input
      class="h-8 w-96 rounded-md"
      type="text"
      placeholder="Buscar..."
      class="p-2 border rounded"
    />
  </div>
  <div class="flex items-center space-x-4">
    <div class="flex items-center space-x-2">
      <img
        src="../../../public/img/black/descarga.webp"
        alt="User Image"
        class="w-8 h-8 rounded-full"
      />
      <div class="flex flex-col text-sm">
        <span>superAdmin</span>
        <span>Usuario1</span>
      </div>
    </div>
  </div>
</header>
