---
---
<header class="flex items-center p-4 bg-blue-baby4 shadow w-full md:items-end md:justify-end">
  <div class=" md:flex md:flex-row ">
    <img src="../../../public/img/black/descarga.webp" alt="Imagen de usuario" class="w-8 h-8 rounded-full" />
    <div class="flex flex-col text-sm ">
      <span id="user_email" class="text-white"></span>
    </div>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function() {
  const email = localStorage.getItem("email");

  if (email) {
    document.getElementById("user_email").textContent = email;
  } else {
    document.getElementById("user_email").textContent = "Usuario desconocido";
  }
});

</script>