---
---
<header class="flex items-center justify-between p-4 bg-blue-baby4 shadow w-auto ">
  <div class="flex items-center space-x-2 md:space-x-4">
    <input class="h-8 w-48 md:w-96 rounded-md text-sm" type="text" placeholder="Buscar..." />
  </div>
  <div class="hidden md:flex items-center space-x-4">
    <img src="../../../public/img/black/descarga.webp" alt="Imagen de usuario" class="w-8 h-8 rounded-full" />
    <div class="flex flex-col text-sm ml-auto"> 
      <span class="text-white">superAdmin</span>
      <span class="text-white">Usuario1</span>
    </div>
  </div>
</header>
