---
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proveedores - ProviSoft</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link rel="stylesheet" href="../input.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap">
  </head>
  <body class="bg-white">
    <div class="flex">
      <aside class="w-64 bg-blue-baby4 h-full fixed">
        <nav class="p-4">
          <ul class="space-y-4">
            <div class="flex flex-row mb-20">
              <img src="../../../public/img/black/logoPS.svg" alt="" />
              <li class="font-display font-bold m-4 text-blue-baby text-2xl">
                Provi<span class="text-white font-display font-bold">Soft</span>
              </li>
            </div>

            <a href="/">
              <button
                id="btnInicio"
                class="w-56 font-display shadow-md flex flex-row bg-white h-10 items-center rounded-md p-2 hover:bg-gray-300 active:bg-blue-baby4 active:text-white"
              >
                <div>
                  <img
                    class="h-5 m-4 flex"
                    src="../../../public/img/black/dashboard.svg"
                    alt=""
                  />
                </div>
                Inicio
              </button>
            </a>

            <button
              id="btnProveedores"
              class="w-56 font-display shadow-md flex flex-row bg-white h-10 items-center rounded-md p-2 hover:bg-gray-300"
              onclick="handleButtonClick('registroP')"
            >
              <div>
                <img
                  class="h-5 m-4 flex"
                  src="../../../public/img/black/person.svg"
                  alt=""
                />
              </div>
              Proveedores
            </button>

            <button
              id="btnCompras"
              class="w-56 font-display shadow-md flex flex-row bg-white h-10 items-center rounded-md p-2 hover:bg-gray-300"
              onclick="handleButtonClick('tablaCompras')"
            >
              <div>
                <img
                  class="h-5 m-4 flex"
                  src="../../../public/img/black/shoping.svg"
                  alt=""
                />
              </div>
              Compras
            </button>

            <button
              id="btnArticulos"
              class="w-56 font-display shadow-md flex flex-row bg-white h-10 items-center rounded-md p-2 hover:bg-gray-300"
            >
              <div>
                <img
                  class="h-5 m-4 flex"
                  src="../../../public/img/black/AdminsN.svg"
                  alt=""
                />
              </div>
              Administradores
            </button>
            <button
              id="btnInformes"
              class="w-56 font-display shadow-md flex flex-row bg-white h-10 items-center rounded-md p-2 hover:bg-gray-300"
            >
              <div>
                <img
                  class="h-5 m-4 flex"
                  src="../../../public/img/black/ReportN.svg"
                  alt=""
                />
              </div>
              Informes
            </button>

            <button
              id="btnLogout"
              class="w-56 font-display shadow-md flex flex-row bg-white h-10 items-center rounded-md p-2 hover:bg-gray-300"
            >
              <div>
                <img
                  class="h-5 m-4 flex"
                  src="../../../public/img/black/Logout.svg"
                  alt=""
                />
              </div>
              Cerrar sesión
            </button>
          </ul>
        </nav>
      </aside>
    </div>

  </body>
</html>
