---

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proveedores - ProviSoft</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link rel="stylesheet" href="../input.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap"
    />
  </head>
  <body class="bg-white">
    <div class="flex">
      <aside class="w-64 bg-blue-baby4 h-full fixed">
        <nav class="p-4">
          <ul class="space-y-4">
            <div class="flex flex-row justify-center items-center mb-20">
              <img
                class="w-8 h-auto"
                src="../../../public/img/logoPS.svg"
                alt=""
              />
              <li class="font-display font-bold m-2 text-blue-baby text-2xl">
                Provi<span class="text-white font-display font-bold">Soft</span>
              </li>
            </div>

            <a href="/inicioDedashboard">
              <button
                id="btnInicio"
                class="w-56 font-display shadow-md flex flex-row bg-white h-10 items-center rounded-md p-2 hover:bg-gray-300 active:bg-blue-baby4 active:text-white"
              >
                <div>
                  <img
                    class="h-5 m-4 flex"
                    src="../../../public/img/black/dashboard.svg"
                    alt=""
                  />
                </div>
                Inicio
              </button>
            </a>

            <a class="p-2" href="/tProviders">
              <button
                id="btnProveedores"
                class="w-56 font-display shadow-md flex flex-row bg-white h-10 items-center rounded-md hover:bg-gray-300"
              >
                <div>
                  <img
                    class="h-5 m-4 flex"
                    src="../../../public/img/black/person.svg"
                    alt=""
                  />
                </div>
                Proveedores
              </button>
            </a>

            <a class="p-2" href="/tCompras">
              <button
                id="btnCompras"
                class="w-56 font-display shadow-md flex flex-row bg-white h-10 items-center rounded-md hover:bg-gray-300"
              >
                <div>
                  <img
                    class="h-5 m-4 flex"
                    src="../../../public/img/black/shoping.svg"
                    alt=""
                  />
                </div>
                Compras
              </button>
            </a>

            <a class="p-2 hidden" href="/tUsuarios">
              <button
                id="btnAdmins"
                class="w-56 font-display shadow-md flex flex-row bg-white h-10 items-center rounded-md hover:bg-gray-300"
              >
                <div>
                  <img
                    class="h-5 m-4 flex"
                    src="../../../public/img/black/AdminsN.svg"
                    alt=""
                  />
                </div>
                Administradores
              </button>
            </a>
            <a class="p-2" href="tInformes">
              <button
                id="btnInformes"
                class="w-56 font-display shadow-md flex flex-row bg-white h-10 items-center rounded-md hover:bg-gray-300"
              >
                <div>
                  <img
                    class="h-5 m-4 flex"
                    src="../../../public/img/black/ReportN.svg"
                    alt=""
                  />
                </div>
                Informes
              </button>
            </a>


          </ul>
        </nav>
      </aside>
    </div>
  </body>
  <div
  id="modal-success"
  class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-end p-5 justify-end hidden z-50"
>
  <div class="bg-white rounded-md shadow-lg flex flex-row w-96 p-2">
    <img class="w-9 h-auto p-2" src="../../../../public/img/Check.svg" alt="" />
    <p class="text-green-600 p-2"> Cerrando sesión</p>
  </div>
</div>

<div
  id="modal-error"
  class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-end p-5 justify-end hidden z-50"
>
  <div class="bg-white rounded-md shadow-lg flex flex-row w-96 p-2">
    <img class="w-9 h-auto p-2" src="../../../../public/img/Error.svg" alt="" />
    <p class="text-rojing p-2">Error cerrar sesión</p>
  </div>
</div>
</html>
<script src="../../js/sidebar"></script>