---

---

<aside class="w-64 bg-gray-100 h-full fixed">
  <nav class="p-4">
    <ul class="space-y-4">
      <div class="flex flex-row">
        <img src="../../../public/img/black/logoPS.svg" alt="">
        <li class="m-4 text-blue-baby4 font-bold text-2xl">
          Provi<span class=" text-blue-baby">Soft</span>
        </li>
      </div>

      <li class="flex flex-row">
        <img src="../../../public/img/black/dashboard.svg" alt="">
        <a
          href="/"
          class="block px-4 py-2 text-gray-700 hover:bg-gray-200 rounded"
          >Inicio</a
        >
      </li>
      <li class="flex flex-row ">
        <img  src="../../../public/img/black/person.svg" alt="">
        <a
          href="/Proveedores"
          class="block px-4 py-2 text-gray-700 hover:bg-gray-200 rounded"
          >Proveedores</a
        >
      </li>
      <li class="flex flex-row ">
        <img src="../../../public/img/black/shoping.svg" alt="">
        <a
          href="/Compras"
          class="block px-4 py-2 text-gray-700 hover:bg-gray-200 rounded"
          >Compras</a
        >
      </li >
      <li class="flex flex-row ">
        <img src="../../../public/img/black/lista.svg" alt="">
        <a
          href="/Articulos"
          class="block px-4 py-2 text-gray-700 hover:bg-gray-200 rounded"
          >Artículos</a
        >
      </li>
      <li class="flex flex-row space-y-60">
        <img src="../../../public/img/black/Logout.svg" alt="">
        <a
          href="/CerrarSesion"
          class="block px-4 py-2 text-gray-700 hover:bg-gray-200 rounded"
          >Cerrar Sesión</a
        >
      </li>
    </ul>
  </nav>
</aside>
