<section>
<div class="flex relative justify-center lg:px-0 items-center lg:h-screen md:px-12 overflow-hidden">
  <div class="bg-white px-4 relative flex flex-1 flex-col lg:py-24 md:flex-none md:px-28 py-10 sm:justify-center xl:py-36 z-10">
   <!-- titulo -->
    <div class="w-full lg:h-full max-w-md md:max-w-sm md:px-0 md:w-96 mx-auto sm:px-4">
        <div class="flex flex-col">
          <div>
          <h2 class="font-medium leading-tight text-black text-xl font-display flex relative justify-center">
          Recupera tu contraseña en
          </h2>
        <!-- titulo provisoft -->
        <div class="py-10">
          <div class="flex relative justify-center">
            <span class=" bg-white px-2 text-xl font-display">
              <span class="text-blue-baby4">Provi</span><span class="text-blue-baby">Soft</span>
            </span>
          </div>
        </div>
          </div>
        </div>
    </div>
    <!-- titulo -->
    
    <form id="log-in">
        <div class="space-y-6">
          <div>
            <input
                id="email"
                name="email"
                class="w-full focus:outline-none border py-3 appearance-none h-12 bg-gray-50 block border-gray-200  focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
                placeholder="Correo Electrónico..."/>
            </div>
            <div id="email_error" class="text-red-500 text-xxs ml-2" ></div>
           
            <div class="col-span-full">
              <button
                class="items-center h-12 justify-center rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black px-6 py-3 text-center text-white w-full"
                type="submit">Continuar</button>
            </div>
            
            <div class="">
              <p class="font-medium text-sm leading-tight text-black flex relative justify-center">
                ¿No eres miembro? <a
                  class="text-accent-500 hover:text-accent-400 ml-3"
                  href="/signup">Registrate aquí</a
                >
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script>
  document.getElementById('log-in').addEventListener('submit', function (event) {
    let isValid = true;
    document.getElementById('email_error').textContent = '';
    
    const email = (document.getElementById('email')as HTMLInputElement).value;
    const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  
    if (email.trim() === '') {
      document.getElementById('email_error').textContent = 'El correo es obligatorio';
      isValid = false;
    } else if (!emailPattern.test(email)) {
      document.getElementById('email_error').textContent = 'El correo debe contener un arroba (@)';
      isValid = false; 
    }
  
    if (!isValid) {
      event.preventDefault();
    }
  });
  </script>