<section>
  <div class="flex relative justify-center lg:px-0 items-center lg:h-screen md:px-12 overflow-hidden">
    <div class="bg-white px-4 relative flex flex-1 flex-col lg:py-24 md:flex-none md:px-28 py-10 sm:justify-center xl:py-36 z-10">
      <div class="w-full lg:h-full max-w-md md:max-w-sm md:px-0 md:w-96 mx-auto sm:px-4">
        <div class="flex flex-col">
          <div>
            <h2 class="font-medium leading-tight text-black text-xl font-display flex relative justify-center">
              <span class="text-blue-baby4" style="width: 145px;">Crea tu cuenta</span>
              <span class="text-blue-baby"> ahora mismo</span>
            </h2>
            <div class="py-3">
              <span class="w-full inline-flex relative mt-3 z-0"></span>
              <div class="py-3 relative">
                <div class="flex absolute inset-0 items-center" aria-hidden="true"></div>
                <div class="flex relative justify-center">
                  <span class="bg-white text-sm px-2 text-gray-500 text-xl">
                    <span class="text-blue-baby4">Provi</span><span class="text-blue-baby">Soft</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form id="signupForm">
          <div class="space-y-6">
            <div class="w-full flex flex-row gap-3">
              <div class="w-full">
                <input
                  class="w-full focus:outline-none border py-3 appearance-none h-12 bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
                  id="first_name"
                  name="first_name"
                  autocomplete="given-name"
                  placeholder="Nombres..." />
                <span id="first_name_error" class="text-red-500 text-sm"></span>
              </div>
              <div class="w-full">
                <input
                  class="w-full focus:outline-none border py-3 appearance-none h-12 bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
                  id="last_name"
                  name="last_name"
                  autocomplete="family-name"
                  placeholder="Apellidos.." />
                <span id="last_name_error" class="text-red-500 text-sm"></span>
              </div>
            </div>
            <div>
              <input
                id="email"
                name="email"
                class="w-full focus:outline-none border py-3 appearance-none h-12 bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
                placeholder="Correo Electrónico..." />
              <span id="email_error" class="text-red-500 text-sm"></span>
            </div>
            <div class="col-span-full">
              <input
                id="company"
                name="company"
                class="w-full focus:outline-none border py-3 appearance-none h-12 bg-gray-50 block border-gray-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-gray-400 px-3 rounded-xl sm:text-sm text-accent-500"
                placeholder="Contraseña..."
                type="password" />
              <span id="company_error" class="text-red-500 text-sm"></span>
            </div>
            <div class="flex">
              <div class="flex items-start">
                <input
                  class="text-accent-500 focus:ring-accent-500 border-accent-500 h-4 rounded w-4"
                  id="remember-me"
                  name="remember-me"
                  type="checkbox" />
                  <div class="flex flex-col">
                <label class="font-medium text-xs block leading-tight ml-2 text-gray-500" for="remember-me">
                  Crear una cuenta signifíca que estas de acuerdo con nuestros
                  <a class="text-accent-500 hover:text-accent-400" href="/terms">Terminos y condiciones de servicio.
                  </a>
                </label>
                <span id="terms_error" class="text-red-500 text-sm"></span>
              </div> </div>
            </div>
            <div class="col-span-full">
              <button
                class="items-center justify-center h-12 rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black px-6 py-3 text-center text-white w-full"
                type="submit">Crea tu cuenta</button>
            </div>
            <div class="space-y-4">
              <p class="font-medium text-sm leading-tight text-black flex relative justify-center">
                ¿Ya tienes cuenta? <a class="text-accent-500 hover:text-accent-400 ml-3" href="/login">Inicia sesión aquí</a>
              </p>
              <!-- <p class="font-medium text-xs leading-tight text-gray-500">
                This site is protected by reCAPTCHA and the Google Privacy
                Policy and Terms of Service apply.
              </p> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script>
  document.getElementById('signupForm').addEventListener('submit', function (event) {
    let isValid = true;

    // Clear previous errors
    document.getElementById('first_name_error').textContent = '';
    document.getElementById('last_name_error').textContent = '';
    document.getElementById('email_error').textContent = '';
    document.getElementById('company_error').textContent = '';
    document.getElementById('terms_error').textContent = ';'
    // Validate first name
    const namePattern = /^[a-zA-Z0-9]+$/;
    const firstName = (document.getElementById('first_name') as HTMLInputElement).value;
    if (firstName.trim() === '') {
      document.getElementById('first_name_error').textContent = 'Nombres es requerido.';
      isValid = false;
    } else if (!namePattern.test(firstName)){
      document.getElementById('first_name_error').textContent = 'El nombre no debe contener caracteres especiales.'
      isValid = false;
    }

    // Validate last name
    
    const lastName = (document.getElementById('last_name') as HTMLInputElement).value;
    if (lastName.trim() === '') {
      document.getElementById('last_name_error').textContent = 'Apellidos es requerido.';
      isValid = false;
    } else if (!namePattern.test(lastName)){
      document.getElementById('last_name_error').textContent = 'El apellido no debe contener caracteres especiales '
    }
    // Validate email
  
    const email = (document.getElementById('email')as HTMLInputElement).value;
    const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  
    if (email.trim() === '') {
      document.getElementById('email_error').textContent = 'El correo es obligatorio';
      isValid = false;
    } else if (!emailPattern.test(email)) {
      document.getElementById('email_error').textContent = 'El correo debe contener un arroba (@)';
      isValid = false; 
    }

    // Validate password (company)
    const password = (document.getElementById('company') as HTMLInputElement).value;
    if (password.trim() === ''){
      document.getElementById('company_error').textContent = 'la contraseña es obligatoria';
      isValid = false;
    }
    else if(password.length < 8) {
      document.getElementById('company_error').textContent = 'La contraseña debe tener al menos 8 caracteres.';
      isValid = false;
    }

    const TermsAccepted =(document.getElementById('remember-me') as HTMLInputElement).checked;
    if(!TermsAccepted){
      document.getElementById('terms_error').textContent ='Debes aceptar los terminos y condiciones.';
      isValid = false;
    }
    if (!isValid) {
      event.preventDefault();
    }
  });
</script>
