<section>
    <div class="flex justify-center">

<div class="bg-slate-100 m-10 h-50 w-9/9 p-10 rounded-md" >
    <div class=" w-full  h-20"><p class="text-3xl font-display">
¡Bienvenido a 
<span class="text-blue-baby3">Dash</span>board!</p>
<p class="font-display">Aquí podras realizar todo tu proceso de registro de compras</p>
</div>
</div>
</div>

<div class="flex  justify-between ml-16 mr-16 " >
    <span class=" flex flex-col mr-16">
        <div class="border-2 border-black h-40 w-48 text-center rounded-md flex justify-items-center  "> 
            <img src="../../../../public/img/inicio.png" alt="">
        </div>
         <p class="text-center">Inicio ProviSoft</p>
    </span>
    <span >
        <div class="border-2 border-black h-40 w-48 text-center rounded-md flex justify-items-center">
           <img src="../../../../public/img/proveedores.png" alt="">
        </div>
        <p class="text-center">Proveedores</p>

    </span>
    <span> 
    </span>
    <span>
        <div class="border-2 border-black h-40 w-48 text-center rounded-md flex justify-items-center">
            <img src="../../../../public/img/compras.png" alt="">
        </div>
        <p class="text-center">Compras</p>
    </span>
    <span class="ml-16">
        <div class="border-2 border-black h-40 w-48 text-center rounded-md flex justify-items-center">
            <img src="../../../../public/img/informes.png" alt="">
        </div>
        <p class="text-center">Crea tu informe</p>

    </span>
</div>
<div class="flex  justify-around font-display font-bold ">
   
</div>
</section>
