<section >
<div class="bg-slate-100 m-10 h-60 p-10 " >
<div class=" w-full  h-20"><p class="text-3xl font-display">
¡Bienvenido a <span class="text-blue-baby3">Dash</span>board!</p>
<p class="font-display">Aquí podras realizar todo tu proceso de registro de compras</p>
</div>
<div class=" flex justify-center mt-10">

<div class="bg-gray-400 w-7/9 p-2 text-center h-11 rounded-md">
<p class="font-display">¡Comienza a <span class="text-blue-baby4">registro</span> ahora!</p>
</div>
</div>


</div>
<div class="flex  justify-around h-40 " >
    <div class="bg-blue-baby4 w-48 text-center rounded-md flex items-end justify-end "><div class="bg-gray-300 rounded-md w-full h-8">Inicio ProviSoft</div> </div>
    <div class="bg-blue-baby4 w-48 text-center rounded-md flex items-end justify-end"><div  class="bg-gray-300 rounded-md w-full h-8">Proveedores</div></div>
    <div class="bg-blue-baby4 w-48 text-center rounded-md flex items-end justify-end"><div  class="bg-gray-300 rounded-md w-full h-8">Compras</div></div>
    <div class="bg-blue-baby4 w-48 text-center rounded-md flex items-end justify-end"><div  class="bg-gray-300 rounded-md w-full h-8">Crea tu informe</div></div>
</div>
</section>
