---
// import TablaCompras from "../components/Dashboard/compras/tablaCompras.astro";
import Header from "../components/Dashboard/header.astro";
// import RegistroP from "../components/Dashboard/proveeddores/registroP.astro";
// import TablaProvi from "../components/Dashboard/proveeddores/tablaProvi.astro";
import Sidebar from "../components/Dashboard/sidebar.astro";
// import Perfil from "../components/perfil.astro";
import Registro from "../components/Dashboard/compras/registro.astro";

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proveedores - ProviSoft</title>
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link rel="stylesheet" href="../input.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap">
  </head>
  <body class="bg-white ">
    <div class="flex">
      <Sidebar />
      <div class="ml-64 w-full">
        <Header />
        <main class="p-6"> 
          <Registro />
        </main>
      </div>
    </div>
  </body>
</html>
