---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nosotros from "../components/nosotros.astro";
---
<BaseLayout>
<div class="flex justify-center intem-center">
  <Nosotros />
</div>

</BaseLayout>
