<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 ">
    <div>
      <div class="text-center max-w-2xl mx-auto" >
        <p
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display mt-8">
          Un sistema avanzado para el seguimiento y registro de compras a proveedores.
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Simplificar la gestión de compras a proveedores puede ser complejo. ProviSoft te permite
          centralizar todas tustransacciones y hace que el proceso sea eficiente y sin complicaciones.
        </p>
      </div>
      <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
        <a
          class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-6 py-3 text-center text-white w-full"
          href="https://lexingtonthemes.com"
          >Comienza ahora &nbsp; &rarr;
        </a>
      </div>
    </div>
  </div>
</section>
