<section id="features">
  <div
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3"
          >
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Optimización.
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Optimiza tus canales de ventas y mejorar 
                la calidad y eficiencia de tus servicios.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Registar compras.
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Añade tus compras de manera rápida y segura, 
                con la posibilidad de verlas y así darle un 
                seguimiento detallado.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Maten tus clientes felices. 
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Logra exclentes resultados de efectividad en el
                cumplimiento de tus pedidos.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
