<div >
    <p class="font-display text-3xl font-bold text-blue-baby4 text-center p-5 ">Bienvenido al menú de administradores</p>

    <span class="flex flex-row justify-around mt-14">
        <a href="/tUsuarios">
            <button class="bg-blue-baby w-72 h-72"> Ver administradores</button>
        </a>
        <a href="/signup">
            <button class="bg-blue-baby w-72 h-72">Registrar administradores</button>
        </a>
    </span>
</div>
