<div>
    <p class="font-display text-3xl font-bold text-blue-baby4 text-center p-5">Bienvenido al menú de administradores</p>

    <span class="flex flex-row justify-evenly mt-14">
        <a href="/tUsuarios" role="button" aria-label="Ver administradores">
            <button class="shadow-lg shadow-blue-baby4 w-72 h-72 btn-ver-compras flex flex-col items-center justify-center font-display text-blue-baby4 text-2xl">
                <svg class="h-auto w-20 mb-4" width="28" height="32" viewBox="0 0 28 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5 22H3.5C3.36739 22 3.24021 22.0527 3.14645 22.1464C3.05268 22.2402 3 22.3674 3 22.5C3 22.6326 3.05268 22.7598 3.14645 22.8536C3.24021 22.9473 3.36739 23 3.5 23H13.5C13.6326 23 13.7598 22.9473 13.8536 22.8536C13.9473 22.7598 14 22.6326 14 22.5C14 22.3674 13.9473 22.2402 13.8536 22.1464C13.7598 22.0527 13.6326 22 13.5 22Z" fill="#000"/>
                </svg>
                <p class="font-bold">Ver administradores</p>
            </button>
        </a>
        
        <a href="/signup" role="button" aria-label="Registrar nuevo administrador">
            <button class="shadow-lg shadow-blue-baby4 w-72 h-72 btn-ver-compras flex flex-col items-center justify-center font-display text-blue-baby4 text-2xl">
                <svg class="h-auto w-20 mb-4" width="28" height="32" viewBox="0 0 28 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5 22H3.5C3.36739 22 3.24021 22.0527 3.14645 22.1464C3.05268 22.2402 3 22.3674 3 22.5C3 22.6326 3.05268 22.7598 3.14645 22.8536C3.24021 22.9473 3.36739 23 3.5 23H13.5C13.6326 23 13.7598 22.9473 13.8536 22.8536C13.9473 22.7598 14 22.6326 14 22.5C14 22.3674 13.9473 22.2402 13.8536 22.1464C13.7598 22.0527 13.6326 22 13.5 22Z" fill="#000"/>
                </svg>
                <p class="font-bold">Registrar administrador</p>
            </button>
        </a>
    </span>
</div>
