---
import DataAdmin from "./dataAdmin.astro";

const providers = [
  {
    name: "usuario2",
    last_name: "uno",
    email: "uncorreo@gmail.com",
    status: "Activo",
    rol: "superadmin",
  },
  {
    name: "usuario1",
    last_name: "uno",
    email: "uncorreo@gmail.com",
    status: "Activo",
    rol: "administrador",
  },
  {
    name: "usuario1",
    last_name: "uno",
    email: "uncorreo@gmail.com",
    rol: "administrador",
    status: "Activo",
  },
  {
    name: "usuario1",
    last_name: "uno",
    email: "uncorreo@gmail.com",
    status: "Inactivo",
    rol: "administrador",
  },
  {
    name: "usuario1",
    last_name: "uno",
    email: "uncorreo@gmail.com",
    status: "Activo",
    rol: "administrador",
  },
];
---

<h1 class="font-bold text-3xl flex justify-center">Administradores</h1>

<div class="flex flex-row space-x-2 justify-between m-3">
  <div class="flex items-center space-x-2 md:space-x-4">
    <input
      class="h-8 w-48 md:w-96 rounded-md text-sm"
      type="text"
      placeholder="Buscar..."
    />
  </div>
  <div class="flex flex-row">
    <div
      class="flex flex-row p-1 bg-blue-baby4 text-white rounded-md font-display hover:bg-blue-baby3"
    >
      <img
        class="m-1"
        src="../../../public/img/white/register-shopping.svg"
        alt=""
      />
    <a href="/signup">      <button>Registrar administrador</button>
    </a>
    </div>
    <div class="p-2 hover:border border-red-700 rounded-sm">
      <img class="" src="../../../public/img/black/trash.svg" alt="" />
    </div>
  </div>
</div>

<table class="min-w-full bg-white border border-gray-200 flex flex-col">
  <thead id="providers" class="">
    <tr class="border-b flex justify-between">
      <th class="p-2">Nombre</th>
      <th class="p-2">Apellido</th>
      <th class="p-2">Correo</th>
      <th class="p-2">Estado</th>
      <th class="p-2">rol</th>
    </tr>
  </thead>

  <tbody>
    {providers.map((provider) => <DataAdmin {...provider} />)}
  </tbody>
</table>
